{% extends "base.html" %}
{% load static %}
{% block title %}Not Found{% endblock title %}

{% block content %}

 <!-- page-404 -->
        <section class="page-404-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="image">
                            <img src="images/item/404.svg" alt="">
                        </div>
                        <div class="title">
                            Oops...That link is broken.
                        </div>
                        <p>Sorry for the inconvenience. Go to our homepage to check out our latest collections.</p>
                        <a href="{% url 'store:store' %}"
                            class="tf-btn btn-sm radius-3 btn-fill btn-icon animate-hover-btn">Home</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- /page-404 -->

{% endblock content %}